.mobile-nav-buttons {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem 1rem;
  pointer-events: none;
  gap: 1rem;
}

.mobile-nav-buttons button {
  background: rgba(255, 255, 255, 0);
  color: #fff;
  border: none;
  width: 50%;
  height: 5.5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  transition: background 0.2s;
}

.mobile-nav-buttons button:active {
  background: black;
}

.arrow {
  font-size: 2rem;
  color: rgba(0,0,0,0.2);
  pointer-events: none;
}

/* Show only on small screens */
@media (max-width: 414px) {
  .mobile-nav-buttons {
    display: flex;
  }
}